<% 
settings=Setting['plugin_redmine_knowledgebase']

if @categories.length == 0 and !User.current.logged? %>
	<h2>Welcome to the Redmine Knowledgebase plugin</h2>
	<p>Unfortunately, there aren't any Categories defined, and you need to be logged in to create new categories.</p>
<% else %>
  <div class="contextual">
    <% if @categories.length > 0 %>
      <label for="category_id"><strong><%= l(:label_jump_category) %></strong></label>
      &nbsp;
      <%= select_tag :category_id, options_for_select([""]+ nested_set_options(@categories) {|i| "#{'»' * i.level} #{i.title}" }), :onchange => "if (this.value != \'\') { window.location = '../../projects/#{params[:id]}/categories/' + this.value; }" %>
    <% end %>
    <%=link_to_if_authorized l(:title_new_category), {:controller=>'categories', :action=>'new', :project_id=>params[:id] }, :class => 'icon icon-add' %>
  </div>
      

  <% if !user_allowed(:view_newest_articles, @project) && !user_allowed(:view_recently_updated_articles, @project) && !user_allowed(:view_most_popular_articles,@project) && !user_allowed(:view_top_rated_articles, @project) %>
     <p><%=l(:no_sections_enabled)%></p>
  <% elsif @project.articles.count > 0  %>
    <table id="article-summaries" width="100%" cellpadding="5">
    <thead>
    <tr>
      <% if user_allowed(:view_newest_articles,@project) %>
      <th><%= l(:title_newest_articles) %></th>
      <% end %>

      <% if user_allowed(:view_recently_updated_articles,@project) %>
      <th><%= l(:title_recently_updated_articles) %></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <tr>
      <% if user_allowed(:view_newest_articles,@project) %>
      <td width="50%" valign="top"><%= render :partial => 'articles/list', :locals => { :summary_format => "newest", :articles => @articles_newest, :default_icon => 'recently-added' } %></td>
      <% end %>

      <% if user_allowed(:view_recently_updated_articles, @project) %>
      <td width="50%" valign="top"><%= render :partial => 'articles/list', :locals => { :summary_format => "updated", :articles => @articles_updated, :default_icon => 'recently-changed' } %></td>
      <% end %>
    </tr>
    </tbody>
    </table>

    <table id="article-summaries" width="100%" cellpadding="5">
    <thead>
    <tr>
      <% if user_allowed(:view_most_popular_articles,@project) %>
      <th><%= l(:title_most_popular_articles) %></th>
      <% end %>

      <% if user_allowed(:view_top_rated_articles, @project) %>
      <th><%= l(:title_top_rated_articles) %></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <tr>
      <% if user_allowed(:view_most_popular_articles,@project) %>
      <td width="50%" valign="top"><%= render :partial => 'articles/list', :locals => { :summary_format => "popular", :articles => @articles_popular, :default_icon => 'popular' } %></td>
      <% end %>

      <% if user_allowed(:view_top_rated_articles, @project) %>
      <td width="50%" valign="top"><%= render :partial => 'articles/list', :locals => { :summary_format => "toprated", :articles => @articles_toprated, :default_icon => 'top-rated' } %></td>
      <% end %>
    </tr>
    </tbody>
    </table>
  <% else %>
    <p><%= t :message_no_articles %></p>
  <% end %>

  <% content_for :sidebar do %>
    <h3><%= l(:title_browse_by_category) %></h3>
    <%= render :partial => "categories/tree" %>
  <% end %>
<% end %>

<% content_for :header_tags do %>
	<%= stylesheet_link_tag 'knowledgebase', :plugin => 'redmine_knowledgebase' %>
<% end %>
